@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(244, 216, 146);
  text-align: center;
  color: rgb(128, 55, 0);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 40px;
}

#myCanvas {
  background-image: url("https://design-milk.com/images/2024/07/Meow-Parlour-NYC-Cat-Cafe-Lounge-1.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid rgb(128, 55, 0);
}



