@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(244, 216, 146);
  text-align: center;
  color: rgb(128, 55, 0);
  margin: auto;
  font-family: water;

   cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧶</text></svg>") 16 0,auto; /*!emojicursor.app*/

}

h1{
  font-size: 40px;
}

#myCanvas {
  background-image: url("https://design-milk.com/images/2024/07/Meow-Parlour-NYC-Cat-Cafe-Lounge-1.jpg");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid rgb(128, 55, 0);
}



